footer{
    grid-area: footer;
    background-color: yellow;
    width: 100%;
    color: black;
    height: 3rem;
    display: flex;
    .footer-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
}