.grid-display{
    display: grid;
    grid-template-areas:
    'side main'
    'side main'
    'footer footer';
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 200px 1fr;
}

main{
    grid-area: main;
    background-color: green;
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 50%;
			label{
				font-size: 1.2em;
			}
			input{
				//width: 50%;
				padding: 0;
			}
		}
}
