.side-bar{
    display: flex;
    grid-area: side;
    height: 100vh;
    background-color: red;
    width: 100%;
    a{
        color: white;
    }
    .nav-side-bar{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
    }
}